<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>great app</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <div class="big-wrapper">

        <div class="list-wrapper">
            <ul id="scroll" class="list">
                
            </ul>
        </div>
        
        <input class="input" type="text" placeholder="Message...">

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="main.js" type="text/javascript"></script>
    
</body>
</html>